<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calendar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{../css/calendar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../css/modal.css}"/>
</head>
<body>

<form th:object="${church}" th:action="@{/save-mass}" method="POST">

    <input id="maxNumNormalChurchDayIntentions" th:field="*{maxNumNormalChurchDayIntentions}">
    <input id="maxNumHolidayChurchDayIntentions" th:field="*{maxNumHolidayChurchDayIntentions}">
    <button type="submit" >Save</button>
</form>


    <table>
        <thead>
        <tr>
            <th >Normal Day</th>
            <th >Holiday</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="hour : ${masslistNormal}">
                <td th:text="${hour.getMassTime()}"></td>

            <td><form th:action="@{/delate-masshournormal}" method="POST"><input type="hidden" name="id" th:value="${hour.id}">
                <input type="submit" value="Usuń"></form></td>



        </tr>
        <tr><button id="popUp">Dodaj</button></tr>

        </tbody>
    </table>
</div>


    <table>
        <thead>
        <tr>
            <th>Holiday</th>
            <th>Delate</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="hour : ${masslistHoliday}">
            <td th:text="${hour.getMassTime()}"></td>

            <td><form th:action="@{/delate-masshourholiday}" method="POST"><input type="hidden" name="id" th:value="${hour.id}">
                <input type="submit" value="Usuń"></form></td>



        </tr>



        </tbody>
    </table>
</div>

<table>
    <thead>
    <tr>
        <th>Priest</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="priest : ${priestList}">
        <td th:text="${priest.getName()} + ' ' + ${priest.getLastName()}"></td>

        <td><form th:action="@{/delate-priest}" method="POST"><input type="hidden" name="id" th:value="${priest.id}">
            <input type="submit" value="Usuń"></form></td>



    </tr>
    <tr>
        <td><button id="priestAdd">Dodaj</button></td>
    </tr>



    </tbody>
</table>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <p>Post Deletion</p>
        </div>
        <div class="modal-body">
            <form th:action="@{/add-massTime}" method="POST">
            <label for="normalDay">Normal Day</label>
            <input id="normalDay" type="radio" name="dayType" th:value="${T(com.churcher.churchplatform.enums.DayType).NORMAL}" checked required />
            <label for="holiday">Holiday</label>
            <input id="holiday" type="radio" name="dayType" th:value="${T(com.churcher.churchplatform.enums.DayType).HOLIDAY}" />
            <label for="timeSet">Wybierz godzinę:</label>
            <input type="time" name="localTime" id="timeSet">
                <input type="submit" class="button button-decision" value="Save">
            </form>
        </div>




    </div>

</div>

<!-- The Modal Priest Add -->
<div id="modalPriest" class="modal">

    <!-- Modal content Priest Add -->
    <div class="modal-content">
        <div class="modal-header">
            <p>Post Deletion</p>
        </div>
        <div class="modal-body">
            <form th:action="@{/add-priest}" th:object="${priest}" method="POST">
                <label for="priestName">Normal Day</label>
                <input id="priestName" type="text" th:field="*{name}" />
                <label for="priestLastName">Holiday</label>
                <input id="priestLastName" type="text" th:field="*{lastName}" />
                <input type="submit" class="button button-decision" value="Save">
            </form>
        </div>




    </div>

</div>
<script th:src="@{../js/modal.js}"></script>
<script th:src="@{../js/addpriestmodal.js}"></script>
</body>
</html>