<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1 th:text="${church.churchName}">Church Name</h1>

<form th:action="@{/saveIntention}" method="POST" th:object="${churchDay}">
    <div th:each="time : ${timeList}">
        <input id="${time.id}" type="radio" name="time" th:value="${time.massTime}">
        <label th:for="${time.id}" th:text="${time.massTime}"></label>
    </div>
    <textarea name="intentionText"></textarea>
    <input type="number" name="intentionCost">

    <input type="hidden" th:field="*{id}">
    <input type="hidden" th:field="*{localDate}">
    <input type="hidden" th:field="*{dayType}">
    <input type="hidden" th:field="*{church}">

    <input type="submit" value="Submit">
</form>

</body>
</html>