<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{../css/setmass-priest.css}"/>
    <title>Set Mass Leader</title>
</head>
<body>


<div class="setPriest" th:if="${churchDay} != null">
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">

                <form th:action="@{/setmass-priest}"><input name="prev" type="hidden" th:value="${day}">
                    <input type="submit" value="Prev"></form></th>

            <th scope="col" th:text="${day}" id="date2"></th>
            <th scope="col">
                <form th:action="@{/setmass-priest}"><input name="next" type="hidden" th:value="${day}">
                <input type="submit" value="Next"></form>
            </th>
        </tr>
        <tr>
            <th scope="col">Mass Hours</th>
            <th scope="col">Priest</th>
            <th scope="col">Dodaj</th>
            <th scope="col">Usuń</th>
        </tr>

        <tr th:each="time : ${churchDay.massList}">

            <td th:text="${time.massTime}"></td>
            <td></td>
            <td></td>
            <td></td>

        </tr>

        <!--<tr th:each="time : ${churchDay.massList}" th:if="${churchDay.massList} != null">-->

            <!--<td th:text="${churchDay.massList != null} ? ${time.massTime} : ''"></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->

        <!--</tr>-->
        <tr  th:each="massTime:${massTimeList}">
            <td th:text="${massTime}"></td>
            <td></td>
            <td></td>
            <td></td>

        </tr>

        </thead>
        <tbody>

        </tbody>
    </table>
</div>

<div class="setPriest" th:if="${churchDay} == null">
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">

                <form th:action="@{/setmass-priest}"><input name="prev" type="hidden" th:value="${day}">
                    <input type="submit" value="Prev"></form></th>

            <th scope="col" th:text="${day}" id="date2"></th>
            <th scope="col">
                <form th:action="@{/setmass-priest}"><input name="next" type="hidden" th:value="${day}">
                    <input type="submit" value="Next"></form>
            </th>
        </tr>
        <tr>
            <th scope="col">Mass Hours</th>
            <th scope="col">Priest</th>
            <th scope="col">Dodaj</th>
            <th scope="col">Usuń</th>
        </tr>

        <tr th:each="massTime:${massTimeList}">
            <td th:text="${massTime.massTime}"></td>
            <td class="droptarget" ondragstart="dragStart(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td></td>
            <td></td>
        </tr>

        </thead>
        <tbody>

        </tbody>
    </table>
</div>

<div ondrop="dropBack(event)" ondragover="allowDrop(event)" th:each="priest : ${priestList}">
    <div class="initdroptarget" ondragstart="dragStart(event)" draggable="true" th:id="${priest.getId()}"
         th:text="${priest.name} + ' ' + ${priest.lastName}"></div>
</div>

<div id="empty" ondrop="drop2(event)" ondragover="allowDrop2(event)" style="border : 3px solid black; width: 300px; height: 300px;"></div>

<script>
    function dragStart(event) {
        event.dataTransfer.clearData();
        event.dataTransfer.setData("Text", event.target.id);
    }

    function allowDrop(event) {
        event.preventDefault();
    }

    function allowDrop2(event){
        event.preventDefault();
    }

    function drop2(event){
        event.preventDefault();
        var data = event.dataTransfer.getData("Text");
        var e1 =  document.getElementById(data);

        console.log(e1.parentNode);
        if(document.getElementsByClassName("initdroptarget") === e1.parentNode){
            return;
        }
        e1.parentNode.removeChild(e1);
    }

    function drop(event) {
        event.preventDefault();
        event.dataTransfer.effectAllowed = "copy";
        var data = event.dataTransfer.getData("Text");

        if(event.target.innerHTML !== ""){
            return;
        }

        var nodeCopy = document.getElementById(data).cloneNode(true);
        var id = 1;
        nodeCopy.id = id++;
        event.target.appendChild(nodeCopy);
    }
    function dropBack(event) {
        event.preventDefault();
        var data = event.dataTransfer.getData("Text");
        // event.target.appendChild(document.getElementById(data));
    }

</script>

</body>
</html>